<div class="jumbotron">
    <div class="container-fluid" ng-hide="getLoggedInStatus()">


        <form name="form" role="form">

            <div class="form-group row">
                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
                <div class="col-md-8"><label>Email</label><input name="email" type="text" class="form-control" ng-model="email" required/></div>
                    <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Fyll i Email</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <div class="col-md-8"><label>Lösenord</label><input name="password" type="password" class="form-control" ng-model="password" required/></div>
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Fyll i lösenordet</span>
                </div>
            </div>

        </form>
        <div class="col-md-4">
            <button ng-click="loginUser()" type="submit" class="btn btn-primary">Logga in</button>
        </div>
    </br>
<a href="/customer/new" >Ej registrerad?</a>


        <h1 ng-show="loginFailed">Felaktig mail eller lösenord</h1>
    </div>
</div>


