<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nackademin Webshop</title>
    <base href="/">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style/myCss.css">


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="app/app.service.js"></script>

    <script src="category/category.module.js"></script>
    <script src="category/category.controller.js"></script>
    <script src="category/category.service.js"></script>

    <script src="product/product.module.js"></script>
    <script src="product/product.controller.js"></script>
    <script src="product/product.service.js"></script>

    <script src="product/filter.controller.js"></script>
    <script src="app/navcontroller.js"></script>

    <script src="product/product-detail.controller.js"></script>
    <script src="app/cart/start.controller.js"></script>


</head>
<body >


<div ng-app="app" class="container-fluid">

    <nav class="navbar navbar-default" >
        <div class="container-fluid">

            <!-- skipar bran och kör items: -->
            <div>
                <ul class="nav navbar-nav" bs-active-link ng-controller="navController">
                    <li ng-click="allCatSelect()"><a>Alla Produkter</a></li>
                    <li uib-dropdown ng-controller="categoryController" >
                        <a uib-dropdown-toggle>Kategorier<span class="caret"></span></a>
                        <ul uib-dropdown-menu  >
                            <li ng-repeat="category in categories" ng-click="categoryClicked(category.id)"><a>{{category.name}}</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <div class="input-group col-md-8" >
                        <li class="nav-item form-inline" >
                            <div id="custom-search-input">
                                <input type="text" id="search" class="form-control nav-item" placeholder="Sök produkt" ng-model="searchBox"/>
                            </div>
                        </li>

                    </div>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="myCart()"><a><span class="glyphicon glyphicon-shopping-cart"></span> Varukorg</a></li>
                </ul>



            </div>
        </div>
    </nav>


    <div ng-view>

    </div>


</div>


</body>
</html>