<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nackademin Webshop</title>
    <base href="/">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style/myCss.css">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="app/app.service.js"></script>
    <script src="app/navcontroller.js"></script>

    <script src="category/category.module.js"></script>
    <script src="category/category.controller.js"></script>
    <script src="category/category.service.js"></script>

    <script src="product/product.module.js"></script>
    <script src="product/product.controller.js"></script>
    <script src="product/product.service.js"></script>

    <script src="product/filter.controller.js"></script>


    <script src="product/product-detail.controller.js"></script>

    <script src="app/cart/cart.module.js"></script>
    <script src="app/cart/cart.controller.js"></script>
    <script src="app/cart/cart.service.js"></script>

    <script src="app/account/new-customer/customer.module.js"></script>
    <script src="app/account/new-customer/customer.controller.js"></script>
    <script src="app/account/new-customer/customer.service.js"></script>

    <script src="app/account/login/login.module.js"></script>
    <script src="app/account/login/login.controller.js"></script>
    <script src="app/account/login/login.service.js"></script>

    <script src="app/account/profile/profile.module.js"></script>
    <script src="app/account/profile/profile.controller.js"></script>
    <script src="app/account/profile/profile.service.js"></script>

    <script src="app/cart/order/confirm.module.js"></script>
    <script src="app/cart/order/confirm.controller.js"></script>
    <script src="app/cart/order/confirm.service.js"></script>

    <script src="app/account/edit-customer/edit-customer.module.js"></script>
    <script src="app/account/edit-customer/edit-customer.controller.js"></script>
    <script src="app/account/edit-customer/edit-customer.service.js"></script>

    <script src="app/account/profile/order-info/order-info.controller.js"></script>
    <script src="app/account/profile/order-info/order-info.service.js"></script>


</head>
<body>


<div ng-app="app" class="container-fluid">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <a class="navbar-brand" href="/">JesusStore</a>
            <div>
                <ul class="nav navbar-nav" ng-controller="navController">
                    <li uib-dropdown ng-controller="categoryController">
                        <a uib-dropdown-toggle>Kategorier <span class="caret"></span></a>
                        <ul uib-dropdown-menu>
                            <li><a href="/">Visa Alla</a></li>
                            <li ng-repeat="category in categories" ng-click="categoryClicked(category.id)"><a>{{category.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    <div class="input-group col-md-8">
                        <li class="nav-item form-inline">
                            <div id="custom-search-input">
                                <input type="text" enter-search="categoryClicked()" class="form-control nav-item"
                                       placeholder="Sök produkt" ng-model="searchBox"/>
                            </div>
                        </li>

                    </div>

                </ul>
                <ul class="nav navbar-nav navbar-right" ng-controller="navController">
                    <li ng-click="myCart()"><a><span class="glyphicon glyphicon-shopping-cart"></span> Kassa <span
                            class="badge">{{cartSize.length}}</span> </a></li>
                    <li ng-hide="amiloggedin()"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li ng-show="amiloggedin()" uib-dropdown>
                        <a uib-dropdown-toggle><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
                        <ul uib-dropdown-menu>
                            <li><a href="/profile"><span class="glyphicon glyphicon-cog"></span> Profil</a></li>
                            <li ng-click="logout()"><a><span class="glyphicon glyphicon-log-out"></span> Logga ut</a>
                            </li>
                        </ul>
                    </li>
                </ul>


            </div>
        </div>
    </nav>


    <div ng-view>

    </div>


</div>


</body>
</html>