body{
    background-image: url("bg2.jpg");
    background-attachment: fixed;
}


html, body {
    height: 100%;  }

.nav > li{
    padding-right:  7%;
    padding-left: 7%;

}
#productListInfo{
    background-color: palevioletred;
    color: black;
    font-family: "Calibri";
    font-size: large;
    border-radius: 0px 0px 5px 5px ;

  height: 100px;
    width: 90%;


}
#price {

    background-color: orange;
    font-size: x-large;
    border-radius: 0px 0px 5px 5px ;
    margin-bottom: 10px;
    bottom: 5px;
    position: absolute;
    margin-left: 30px;

}

#productSquare > img:hover{

    box-shadow: 6px 7px 36px 6px rgba(255,255,255,1);

}
#productSquare{
    display: block;
    max-width: 200px;
    max-height: 300px;
    width: auto;
    height: auto;
    line-height: 110%;
    margin-top: 40px;

}
.stock-icon{
    margin-top: 150%;
    margin-right: 150%;
    position: absolute;
    alignment: center;

}

.col-md-3 > img {
    border-radius: 5px 5px 0px 0px;

    display: block;
    height: auto;

    width: 90%;
    border-style: dashed;

    }
#detailScreen{
   width: auto;

}
#prodPic{
    max-width: 100%;
    height: auto;
    /*
    max-width: 500px;
    max-height: 700px;
    width: auto;
    height: auto;*/
    margin-right: 10%;

}


#prodInfo{
    background-color: whitesmoke;
    font-size: large;
    word-break: keep-all;
    font-family: "Berlin Sans FB";
    opacity: 0.8;
    filter:alpha(opacity=80);
    margin-left: inherit;
    display: table;

}

.cart-table {
    background-color: #cccccc;
}

.comfirm-order{
    background-color: white;
    color: black;
    font-family: "Times New Roman";
}

.order-info {
    background-color: #f5e79e;
}

.crazy-page > img {
    max-height: 40px;
    width: auto;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}



@-webkit-keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -400px 0;}
}

@keyframes backgroundScroll {
    from {background-position: 0 0;}
    to {background-position: -400px 0;}
}


.crazy-page {
    background:url("bg3.jpg");
    position: absolute;
    float: left;
    padding: 100px 0;
    width: 100%;

    min-height: 100%;
    -webkit-animation: backgroundScroll 35s linear infinite;
    animation: backgroundScroll 35s linear infinite;
    background-size:150% 120%;
    background-position:top;
    background-attachment:fixed;

}

.crazy-page > h1 {
    text-align: center;
    font-family: "Palatino Linotype";
    font-size: xx-large;
    color: #122b40;
    box-shadow: 10px 114px 157px 70px;



}

.selected {
    background-color: #f5e79e;

}

.has-error {

    border-color: red;
}

#increasItemButton .info-text{
    visibility: hidden;
}
#increasItemButton:hover .info-text{
    visibility: visible;
}
.cart-table{
    table-layout:fixed;
}



.badge {
  background-color: red;
}