<div class="container-fluid" id="detailScreen">
<div class="row-fluid" >
<div class="col-md-4"  >
<img id="prodPic" ng-src="{{product.imageUrl}}">
</div>
<div  id="prodInfo">
    <table class="table">
        <tbody>
        <tr>
            <th>Namn</th>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <th>Beskrivning</th>
            <td>{{product.description}}</td>

        </tr>
        <tr>
            <th>Antal i lager</th>
            <td><span ng-if="product.unitsInStock > 0" style="color: darkgreen">{{product.unitsInStock}}</span></td>
            <td><span ng-if="product.unitsInStock <= 0" style="color: crimson">{{product.unitsInStock}}</span></td>
        </tr>
        <tr>
            <th>Pris</th>
            <td>{{product.price}}:-</td>
        </tr>

        </tbody>
    </table>
</br>
    <button ng-if="product.unitsInStock > 0" ng-click="addToCart(product)" type="button" class="btn btn-success btn-lg">Lägg till i varukorg</button>
</div>

</div>
</div>
