<div class="container-fluid" id="detailScreen">
<div class="row" >
<div class="col-md-4"  >
<img id="prodPic" ng-src="{{product.imageUrl}}">
</div>
<div  id="prodInfo" class="col-md-5">
    <table class="table">
        <tbody>
        <tr>
            <th>Namn</th>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <th>Beskrivning</th>
            <td>{{product.description}}</td>

        </tr>
        <tr>
            <th>Antal i lager</th>
            <td><span ng-if="product.unitsInStock > 0" style="color: darkgreen">{{product.unitsInStock-product.quantity}}</span></td>
            <td><span ng-if="product.unitsInStock <= 0 && product.quantity >= product.unitsInStock" style="color: crimson">Ej i lager</span></td>
        </tr>
        <tr>
            <th>Pris</th>
            <td>{{product.price}}:-</td>
        </tr>

        </tbody>
    </table>
</br>
    <button ng-disabled="product.quantity >= product.unitsInStock" ng-if="product.unitsInStock > 0" ng-click="addToCart(product)" type="button" class="btn btn-success btn-lg">Lägg till i varukorg</button>
</div>

</div></div>
</div>
